#camera{
    border: 1px solid black;
    border-radius: 10px;
}

#picture{
    margin-top: 3%;
    border: 1px solid black;
    border-radius: 10px;
}
.camera_block{
    margin-top: 2%;
    float: right;
    padding-right: 1%;
}
.main{
    margin-top: 0%;
    padding-top: 10%; 
    text-align: center;
}

.sleep_mark{
    margin-bottom: 3%;
    padding-left: 12%;
}

.btn{
    text-decoration: none;
}